body {
	background-image: url(../images/dust_scratches.png);
	background-repeat: repeat;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0 auto;
	margin-top: 100px;
}

.georgia {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.topbar {
	position: fixed;
	width: 100%;
	top:0;
	left: 0;
	background-color: white;
	border-bottom: solid;
	border-width: thin;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}


nav {
	display: inline-block;
  float: right;
  padding-top: 20px;
}

.borderright {
	border-right: solid;
	border-width:thin;
}

li a:hover {
	background-color: #4aaaa5;
	color: white;
	padding: 10px;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
		padding: 10px;
		color: #777777;
}

.link {
	color: white;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.left{
	float: left;
}

.main {
	display:inline-block;
	margin-right: 20px;
	width: 618px;
}

.box {
	border-style: solid;
	border-width: 1px;
	background-color: white;
	color: #777777;
	padding: 25px;
	line-height: 2;
}

.sidebar {
	float: right;
	width: 218px;
	font-size: 20px;
}

.icon {
	width: 50px;
	margin-right: 5px;
}

.header-name {
	display: inline-block;
  background-color: #4aaaa5;
  color: white;
  margin: 0px;
  padding: 25px 30px;
  text-align: center;
}

.teal {
	color: #4aaaa5;
}

.bold {
	font-weight: bold;
}

.big-font {
	font-size: 30px;
}

.thumbnail {
	margin-right: 20px;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #666666;
	border-top: solid;
	border-color: #4aaaa5;
	border-width: 5px;
	color: #eeeeee;
	text-align: center;
	font-size: 10px;
	padding-top: 40px;
	padding-bottom: 10px;
}

.textbox {
	width: 100%;
	height: 25px;
}

.messagebox {
	width: 100%;
	height: 160px;
}

.submit {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    border: none;
}

.boxrow {
	padding-top: 25px;
}

.minibox {
	display: inline-block;
	width: 300px;
	height: 200px;
}

.boximg1 {
	background-image: url(../images/food1.jpg);
}

.boximg2 {
	background-image: url(../images/food2.jpg);
	margin-left: 10px;
}

.boximg3 {
	background-image: url(../images/food3.jpg);
}

.boximg4 {
	background-image: url(../images/food4.jpg);
	margin-left: 10px;
}

.boximg5 {
	background-image: url(../images/food5.jpg);
}

.boxtitle {
	color: white;
	background-color: #4aaaa5;
	margin-top: 130px;
	padding: 10px 0;
	font-size: 20px;
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 980px) {
	.wrapper {
		width: 100%;
		margin: 0 auto;
	}

	.topbar {
		position: absolute;
		width: 100%;
	}

	.main {
		display: inline-block;
		width: 52%;
		margin-top: 30px;
		margin-bottom: 100px;
	}

	.wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.sidebar {
		display: inline-block;
		width: 30%;
		margin-top: 30px;
	}

	.boximg2 {
		margin-left: 0;
		margin-top: 25px;
	}

	.boximg4 {
		margin-left: 0;
		margin-top: 25px;
	}

	.minibox {
		width: 100%;
	}

	footer {
		position: static;
		padding-top: 20px;
	}

}

@media screen and (max-width: 768px) {
	.center {
		margin: 0 auto;
	}

	.topbar {
		position: absolute;
		width: 100%;
	}

	.wrapper {
		width: 90%;
		margin: 0 auto;
	}

	body {
		width: 100%;
	}

	.main {
		display: block;
		width: 91%;
		margin-bottom: 30px;
		margin-top: 150px;
	}

	.sidebar {
		clear: both;
		display: block;
		float: none;
		width: 91%;
		margin-top: 20px;
		margin-bottom: 80px;
	}

	.centertext {
		text-align: center;
	}

	.minibox {
		width: 45%;
	}

	.boximg2 {
		margin-left: 8%;
	}

	.boximg4 {
		margin-left: 8%;
	}

	footer {
		position: relative;
	}
}

@media screen and (max-width: 640px) {
	.center {
		margin: 0 auto;
	}

	.smcenter {
		margin: 0 auto;
	}

	.wrapper {
		width: 80%;
		margin: 0 auto;
	}

	.topbar {
		position: absolute;
		width: 100%;
	}

	body {
		width: 100%;
	}

	nav {
			padding-top: 0px;
	}

	li {
		clear: both;
		float: none;
	}

	.borderright {
		border: none;
	}

	.header-name {
		padding: 40px 30px;
	}

	.main {
		display: block;
		width: 88%;
		margin-bottom: 30px;
		margin-top: 150px;
	}

	.sidebar {
		clear: both;
		display: block;
		float: none;
		width: 88%;
		margin-top: 20px;
		margin-bottom: 80px;
	}

	.thumbnail {
		clear: both;
		float: none;
		display: block;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.left {
		clear: both;
		float: none;
		display: block;
	}

	.centertext {
		text-align: center;
	}

	.messagebox {
		height: 100px;
	}

	.boximg2 {
		margin-left: 0;
		margin-top: 25px;
	}

	.boximg4 {
		margin-left: 0;
		margin-top: 25px;
	}

	.minibox {
		width: 100%;
	}

	footer {
		position: static;
	}
}
